{% extends 'base.html.twig' %}
{% form_theme form _self %}
{% block title %} Menus {% endblock %}
{% block body %}
<h1> Super menus disponibles :-D</h1>
<ul>
    {% for menu in menus %}
        <li>
          <a href="{{ path('menusolo_name', {'id': menu.id}) }}">
              {{ menu.name }}
          </a>
        </li>
    {% endfor %}
</ul>


<h4>
      <a href="{{ path('nouveau_menu') }}">
          Créer un nouveau menu.
      </a>
</h4>

{% endblock %}
